.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multi-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.more:after {
  position: absolute;
  content: '';
  top: .15rem;
  right: .28rem;
  width: .3rem;
  height: .51rem;
  // background: url(../assets/images/rightArrow@2x.png);
  background-size: 100% 100%;
}