* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 10px;
}

body {
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont,
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  -webkit-text-size-adjust: none;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  user-select: none;
}

ol,
ul {
  list-style: none;
}

a, input, button, textarea { 
  outline: none;
  border: none;
  -webkit-appearance: none; 
}
